.outcomeHeader {
    font-size:2rem;
    margin-bottom:2rem;
    line-height:1.2;
    text-align:center;
}

.outcomeResult {
    text-align:center;
    font-size:3em;
}

.titleText {
    font-size:0.1rem;
}

h2 {
    font-size:2.2rem;
}

h3 {
    font-size:1.76rem;
}

.navbar-brand {
    font-size:24px;
}

@media screen and (max-width: 991px) {
    .outcomeHeader {
      font-size:1.5rem;
      margin-bottom:0.8rem;
    }
    .outcomeResult {
        font-size:2.25rem;
      }
    h2 {
        font-size:1.75rem;
    }
    h3 {
        font-size:1.4rem;
    }
    .navbar-brand {
        font-size:17.5px;
    }
  }